<!-- /snippets/collection-sidebar.liquid -->
{% comment %}

  Side navigation for the product types, vendors, and tags.
  These can be based on the current collection or all products. Details in comments below.

  Note: Clicking on a tag will filter the products within the current collection.
  Clicking on a type or vendor link will take you out of the current collection
  to a standalone collection page. E.g. /collections/vendors?q=Pepsi

{% endcomment %}

{% comment %}
  Product tags in the current collection
{% endcomment %}
{% assign current =  collection.url  %}
{% assign foundCollections =  false  %}
{% assign lowerNavItem =  settings.navigation_item_name | downcase  %}

  <h2 class="h3">Categories</h2>
  {% comment %}
    To provide a 'catch-all' link at the top of the list,
    check against the collection.handle, product type, and vendor.
  {% endcomment %}
  <ul class="no-bullets">
    {% for link in linklists.main-menu.links %}
        {% assign lowerTitle =  link.title | downcase %}
        {% unless  lowerTitle == lowerNavItem  %}
           {% continue %}
        {% endunless %}
        {% assign child_list_handle = link.title | handleize %}
        {% assign foundCollections = true %}
        {% if linklists[child_list_handle].links != blank %}
          {% for childlink in linklists[child_list_handle].links %}
              {% assign grand_child_list_handle = childlink.title | handleize %}
              <li>
              <a href="{{ childlink.url }}" {% if current == childlink.url %} class="active-collection" {% endif %}>{{ childlink.title | escape }}</a>
              </li>
          {% endfor %}
        {% endif %}
    {% endfor %}
   </ul>
   {% if foundCollections == false %}
    <div><Strong>"{{ settings.navigation_item_name }}"</strong> is not an item in the navigation. Please fix Category Page Sidebar in theme settings</div>
  {% endif %}