 <!-- begin site-footer -->
    <footer class="site-footer small--text-center" role="contentinfo">
      <div class="wrapper">
        <div class="grid">
        <div class="grid__item large--one-half medium--one-half social">
            <h3>Get in touch</h3>
            <div>We are here to help you!</div>
            <div>{{ shop.phone | slice: 0 , 3 }}.{{ shop.phone | slice: 3 , 3 }}.{{ shop.phone | slice: -4 , 4 }}</div>
            <div>{{ shop.email }}</div>
            <div class="shopify-secure">{{ 'shopify-secure.png' | asset_url | img_tag }}</div>
            <div class="copyright">&copy; {{ 'now' | date: "%Y" }}, {{shop.name}}, {{shop.address.street}}, {{ shop.address.city}},  {{ shop.address.province_code}}, {{ shop.address.zip}}.</div>
            
        </div>
          {% if settings.footer_newsletter_enable %}
            <div class="grid__item large--one-half  medium--one-half newsletter">
              {% comment %}
                MailChimp is the go-to newsletter service for Shopify.
                Use the link below to find your MailChimp form action
                and insert it in your site settings.

                If the form action URL is not set in the theme settings,
                it will fallback to a customer form so you can still capture the email.

                MailChimp newsletter integration and requirement:
                 - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action
              {% endcomment %}
              <h3>{{ 'layout.footer.newsletter_title' | t:store_name:shop.name }}</h3>
              {% if settings.newsletter_form_action != blank %}
                <form action="{{ settings.newsletter_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
                  <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                  <span class="input-group-btn">
                    <input type="submit" class="btn" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
                  </span>
                </form>
              {% else %}
                {% form 'customer' %}
                  {{ form.errors | default_errors }}
                  {% if form.posted_successfully? %}
                    <p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
                  {% else %}
                    <div class="input-group">
                      <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                      <input type="hidden" name="contact[tags]" value="newsletter">
                      <span class="input-group-btn">
                        <input type="submit" class="btn" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
                      </span>
                    </div>
                  {% endif %}
                {% endform %}
              {% endif %}
            <div class="payment-options">{{ 'Payment-icons.png' | asset_url | img_tag }}</div>
            </div>
          {% endif %}
        </div>
      </div>
    </footer>
    <!-- //site-footer -->