{% comment %}
Show number of items in the cart and total cost in the /cart link

Ajax Cart Notes:
- #cartCount updates the total number of items in the cart
- #cartCost updates the total cost of the cart
- Documentation:  http://shopify.com/timber#ajax-cart
{% endcomment %}
<div class="cart-right">
    <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
        <span class="obl-cart-icon" aria-hidden="true"></span>
        {{ 'layout.cart.title' | t }}
        <span id="CartCount" class="{% unless cart.item_count == 0 %}show-number{% endunless %}">{{ cart.item_count }}</span>
    </a>
</div>