 {% for tag in  product.tags %}
    {% assign lowerTag = tag | downcase %}
    {% if  lowerTag   contains  'pack'  %}
        <span class="pack-size">{{tag}}</span>
        {% break %}
        {% elsif lowerTag contains 'case' %}
        <span class="pack-size">{{tag}}</span>
        {% break %}
    {% endif %}
{% endfor %}