<div class="popup-overlay"></div>
<div class='popup-container'>
    <div class='zoom-popup'>
        <p class="x-out" onclick="jQuery('.popup-container,.popup-overlay').hide();jQuery('#popup-main-img').parent().removeClass('enlarge');">X</p>
         <p class="name">{{ product.title | replace:'<br>', ' ' }}</p>
        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
        <div class="image-wrapper">
            <img 
                src="{{ featured_image | img_url: '646x646' }}" 
                alt="{{ featured_image.alt | escape }}" 
                id="popup-main-img" 
                onclick="toggleZoom()"
               >
        </div>
    </div> 
</div>
<style>
    .popup-overlay{
        display: none;
        position: fixed;
        width: 100%;
        height: 100;
        height: 100%;
        top: 0;
        background: rgba(0, 0, 0, 0.6);
    }
    .popup-container{display:none;}
    .popup-container .zoom-popup{
       background: #fff;
        right: 5vw;
        left: 5vw;
        top: 5vw;
        bottom: 5vw;
        position: fixed;
        padding-bottom: 10px;
        padding: 24px;
        box-shadow: 0 0 35px #000;
        overflow: hidden; 
        user-select: none;
    }
    .popup-container .x-out{
       position: fixed;
        right: 6vw;
        font-size: 26px;
        cursor: pointer;
        top: 6vw;
        font-weight: 900;
        color: #57a772;
        padding: 20px 30px;
    }
    .popup-container .name{
        padding: 10px;
        font-size: 20px;
        max-width: 95%;
    }
    @media only screen and (min-width: 771px){
         #ProductPhoto{ cursor: -webkit-zoom-in; }
    } 
   
    #popup-main-img{
        margin: auto;
        display: block;
        pointer-events: none; 
        height:calc(32vw);
    }
    .image-wrapper.enlarge #popup-main-img{
       
     
       
    }
    .image-wrapper{
        max-height: calc(100% - 30px);
        overflow: hidden;
        cursor: -webkit-zoom-in;
    }
    .image-wrapper.enlarge{
        cursor: -webkit-zoom-out;
    }
 
</style>
<script>
    jQuery(document).ready(function(){
       jQuery("#popup-main-img").css('height',jQuery(window).height() - (.15 * jQuery(window).height() + 100));
    });
    jQuery('#ProductPhoto').click(function(){
        if(window.innerWidth > 770){
            if(jQuery('.product-single__thumbnails li.active').length){
              jQuery('#popup-main-img').attr('src',jQuery('.product-single__thumbnails li.active img').attr('src'));
            }
            jQuery('.popup-container, .popup-overlay').show();
        }
    });

  
    jQuery('body').append(jQuery('.popup-container, .popup-overlay'));

    //Yehuda's Code
 	var clicked = false, clickY, clickX, unzoom;

    jQuery('#popup-main-img').parent().on({
        'mousemove': function(e) {
             clicked && updateScrollPos(e);
        },
        'mousedown': function(e) {
            clicked = true;
            unzoom = true;
            clickY = e.pageY;
            clickX = e.pageX;
        },
        'mouseup': function() {
            clicked = false;
            if (unzoom) { 
                jQuery('#popup-main-img').parent().toggleClass('enlarge');
                var img = document.getElementById('popup-main-img'); 
                var imgWidth = img.clientWidth;
                var imgHeight = img.clientHeight;
                if(jQuery('#popup-main-img').parent().hasClass('enlarge')){
                    jQuery(".enlarge #popup-main-img").css('height',imgHeight * 1.2);
                    jQuery(".enlarge #popup-main-img").css('width',imgWidth * 1.2);
                }else{
                    jQuery("#popup-main-img").css('height',imgHeight / 1.2);
                    jQuery("#popup-main-img").css('width',imgWidth / 1.2);
                }
            }
                
        }
        });
        updateScrollPos = function(e) {
        unzoom = false;
        jQuery('#popup-main-img').parent().scrollTop(jQuery('#popup-main-img').parent().scrollTop()+(clickY - e.pageY));
        jQuery('#popup-main-img').parent().scrollLeft(jQuery('#popup-main-img').parent().scrollLeft()+(clickX - e.pageX));
        clickY = e.pageY;
        clickX = e.pageX;
    }
</script>
