<!-- /snippets/product-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}
{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-third medium--one-half' %}
{% endunless %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product was published within 2 weeks and set a variable to be used below..
{% endcomment %}
{% assign new = false %}
{% assign published_date =  product.published_at| date: "%s" | plus: 0  %}
{% assign today_date =  "now" | date: "%s" | plus: 0  %}
{% assign product_age = today_date | minus: published_date %}
{% if  product_age < 1209600 %}
  {% assign new = true %}
{% endif  %}

{% comment %}
   Check if the product has any flag tags.
{% endcomment %}
{% assign tagflagstring = '' %}
{% assign is_custom = false %}
{% for tag in product.tags %}
  {% assign lowerTag = tag | downcase %}
  {% if  lowerTag contains 'flag::' %}
      {% assign tagflagstring = tagflagstring | append : tag | append : "," %}
      {% assign is_custom = true %}
  {% endif %}
{% endfor %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

{% assign flagstring = settings.first | append: ',' | append: settings.second | append: "," | append: settings.third %}
{% assign flags = flagstring | split: "," %}
{% assign flag_class = '' %} 
{% assign for_loop_index = forloop.index %}
{% for flag in flags %}
  {% if flag == 'new' and new == true %}
    {% assign flag_class = flag %} 
    {% break %}
  {% elsif flag == 'sale' and on_sale == true %}
    {% assign flag_class = flag %} 
     {% break %}
  {% elsif flag == 'custom' and is_custom == true %}
    {% assign flag_class = flag | append : for_loop_index  %} 
     {% break %}
  {% endif %}
{% endfor %}


{% comment %}
  Add custom flag content and style
{% endcomment %}
{% if is_custom %}
  {% assign tag_flags = tagflagstring | split: "," %}
  {% assign custom_order = 1000 %}
  {% assign custom_color = '' %} 
  {% assign custom_val = '' %}
  {% for flag in tag_flags %}
    {% assign flag_data = flag | split: "::" %}
    {% assign current_order = flag_data[3] | plus: 0 %}
    {% assign flag_data_size = flag_data | size %}
    {% if flag_data_size == 3 or flag_data_size == 4 %}
      {% if  current_order < custom_order %}
        {% assign custom_order = current_order %}
        {% assign custom_color = flag_data[1] %}
        {% assign custom_val = flag_data[2] %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% assign val_size = custom_val | size %}
  {% assign col_size = custom_color | size %}
  {% if val_size > 0 and col_size > 0  %}
    <style>
      .obl-grid-item.{{ flag_class }}:before{
        content: "{{ custom_val  | replace: '"', '\"' }}";
        background-color: {{ custom_color }}; 
      }
    </style>
  {% endif %}
{% endif %}

<div class="grid__item {{ grid_item_width }} obl-grid-item flex {{ flag_class }}">
  <div class="flag"></div>
  {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
      you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
      - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

  {% endcomment %}
  <a href="{{ product.url | within: collection }}" class="grid__image">
    <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
  </a>

  <p class="h6">
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
  </p>
  <p class="item-price">
    {% comment %}
      You can show a leading 'from' or 'up to' by checking 'product.price_varies'
      if your variants have different prices.
    {% endcomment %}
    {% if on_sale %}
      {% if product.price_varies %}
        {% assign sale_price = product.price | money %}
        {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
      {% else %}
        <strong>{{ 'products.product.on_sale' | t }}</strong>
        {{ product.price | money }}
      {% endif %}
    {% else %}
      {% if product.price_varies %}
        {% assign price = product.price | money %}
        {{ 'products.general.from_text_html' | t: price: price }}
      {% else %}
        {{ product.price | money }}
      {% endif %}
    {% endif %}
    {% if sold_out %}
      <br><strong>{{ 'products.product.sold_out' | t }}</strong>
    {% endif %}
    {% if on_sale %}
      <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
      <br><s>{{ product.compare_at_price | money }}</s>
    {% endif %}
    {% include 'pack-case' %}  
  </p>
  <a href="{{ product.url | within: collection }}"><button class="more-info"><span>More Information</span><span class="add-to-cart">{{ 'item-cart.svg' | asset_url | img_tag }}</span></button></a>
</div>
