<div class="top-header">
    <div class="wrapper">
        <div class="flex">
            <div class="flex-item">
                {% comment %}
                    Use the uploaded logo from theme settings if enabled.
                    Site name gets precedence with H1 tag on homepage, div on other pages.
                {% endcomment %}
                {% if template == 'index' %}
                    <h1 class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
                {% else %}
                    <div class="h1 site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
                {% endif %}
                    {% if settings.logo_use_image %}
                    <a href="/" itemprop="url" class="site-header__logo-link">
                        <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                    </a>
                    {% else %}
                    <a href="/" itemprop="url">{{ shop.name }}</a>
                    {% endif %}
                {% if template == 'index' %}
                    </h1>
                {% else %}
                    </div>
                {% endif %}
            </div>
            <div class="flex-item">
                <div class="site-header__search">
                    {% include 'search-bar' %}
                </div>
            </div>
            <div class="flex-item">
                <div class="phone">{{ shop.phone | slice: 0 , 3 }}.{{ shop.phone | slice: 3 , 3 }}.{{ shop.phone | slice: -4 , 4 }}</div>
                <div class="hours">{{ settings.opening-hours-message}}</div>
            </div>
        </div>
    </div>
</div>