<div class="wrapper">
    <div class="absolute-header-left">
        {% unless section.settings.message-link == "" %}<a href="{{ section.settings.message-link }}">{% endunless %}
        {{ section.settings.absolute-header-message }}
        {% unless section.settings.message-link == "" %}</a>{% endunless  %}
    </div>
    {% if shop.customer_accounts_enabled %}
        <div class="absolute-header-right">
        {% include 'login-register' %}
        </div>
    {% endif %}
</div>

{% schema %}
{
  "name": "Absolute Header",
  "settings": [
    {
      "type": "text",
      "id": "absolute-header-message",
      "label": "Message for Absolute Header"
    },
    {
      "type": "text",
      "id": "message-link",
      "label": "Add link (ex. pages/pagename)"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}