{% for block in section.blocks %} 
   {% if  collections[block.settings.collection].url  == collection.url  %}
  <div class='home-banner' style="background-image:url({{ block.settings.banner_image | remove: "files/" | file_url}});background-size: 100%; height: 27.041vw;">
    <div class='banner-header'>{{ block.settings.line_1 }}</div>
    <div class="line-1">{{ block.settings.line_2 }}</div>
    <div class="line-2">{{ block.settings.line_3 }}</div>
    {% if block.settings.add_button %}
        {% unless block.settings.button_link == "" %}<a href="{{ block.settings.button_link }}">{% endunless %}
           <button>{{ block.settings.button_text }}</button>
        {% unless block.settings.button_link == "" %}</a>{% endunless  %}
    {% endif %}
  </div>
   {% break %}
   {% endif %}
{% endfor %}
{% schema %}
{
  "name": "Collection Banner",
  "blocks": [
    {
      "type": "select",
      "name": "Collection",
      "settings": [
        {
        "type": "collection",
        "id": "collection",
        "label": "Choose Collection"
        },
        {
          "type": "image_picker",
          "id": "banner_image",
          "label": "Choose Background Image"
        },
        {
          "type": "text",
          "id": "line_1",
          "label": "Choose Banner First Line"
        },
        {
          "type": "text",
          "id": "line_2",
          "label": "Choose Banner Second Line"
        },
        {
          "type": "text",
          "id": "line_3",
          "label": "Choose Banner Third Line"
        },
        {
          "type": "checkbox",
          "id": "add_button",
          "label": "Add Button"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        },
        {
          "type": "text",
          "id": "button_link",
          "label": "Button Link",
          "info": "(ex. pages/pagename)"
        }
      ]
    }
  ]
}
{% endschema %}


{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}