<div class='home-banner' style="background-image:url({{ section.settings.banner_image | remove: "files/" | file_url}});background-size: 100%; height: 27.041vw;">
    <div class='banner-header'>{{ section.settings.line_1 }}</div>
    <div class="line-1">{{ section.settings.line_2 }}</div>
    <div class="line-2">{{ section.settings.line_3 }}</div>
    {% if section.settings.add_button %}
        {% unless section.settings.button_link == "" %}<a href="{{ section.settings.button_link }}">{% endunless %}
           <button>{{ section.settings.button_text }}</button>
        {% unless section.settings.button_link == "" %}</a>{% endunless  %}
    {% endif %}
</div>
{% schema %}
{
  "name": "Home Page Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Choose Background Image"
    },
    {
      "type": "text",
      "id": "line_1",
      "label": "Choose Banner First Line"
    },
    {
      "type": "text",
      "id": "line_2",
      "label": "Choose Banner Second Line"
    },
    {
      "type": "text",
      "id": "line_3",
      "label": "Choose Banner Third Line"
    },
    {
      "type": "checkbox",
      "id": "add_button",
      "label": "Add Button"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "text",
      "id": "button_link",
      "label": "Button Link",
      "info": "(ex. pages/pagename)"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}