<div id="home-content" class="flex">
    {% for block in section.blocks %}
        <div  style="background-image:url({{ block.settings.block-background-image | remove: "files/" | file_url}});">
            <div class="home-content-header">{{ block.settings.block-header }}</div>
            <div class="home-content-text">{{ block.settings.block-text }}</div>
            {% unless block.settings.button-link == "" %}<a href="{{ block.settings.button-link }}">{% endunless %}
           <button>{{ block.settings.button-text }}</button>
            {% unless block.settings.button-link == "" %}</a>{% endunless  %}
        </div>
    {% endfor %}
</div>

{% schema %}
{
  "name": "Home page Content",
  "max_blocks": 2,
  "blocks": [
    {
      "type": "select",
      "name": "Block",
      "settings": [
        {
        "type": "text",
        "id": "block-header",
        "label": "Header"
        },
        {
        "type": "text",
        "id": "block-text",
        "label": "Main Text"
       },
       {
        "type": "text",
        "id": "button-text",
        "label": "Button Text"
       },
       {
        "type": "text",
        "id": "button-link",
        "label": "Button Link",
        "info": "(ex. pages/pagename)"
       },
       {
        "type": "image_picker",
        "id": "block-background-image",
        "label": "Background Image"
       }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
#home-content{
    color:#fff;
    justify-content: space-around;
    flex-wrap: wrap;
    }
#home-content > div{
    background-size: cover;
    padding: 8% 5% 5% 2%;
    width: 49%;
    min-width: 325px;
}
@media only screen and (max-width:689px){
    #home-content > div{
        width: 100%;
        margin-top:10px;
    }
}
.home-content-header{
    font-family:"Open Sans";
    font-weight:600;
    font-size:36px;
}
.home-content-text{
    font-family:"Open Sans";
    font-size:18px;
}
#home-content button{
    font-family:"Open Sans";
    font-weight: 600;
    padding: 14px;
    background-color: #6C8FAC;
    border-radius: 500px;
    width: 50%;
    text-align: center;
    color:#fff;
    margin-top:20px;
    font-size: 18px;
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

