
 {% assign row-size = 'large--one-third' %}
<div id="custom-home">
    <h2> {{ section.settings.text-box }} </h3>
    <div class="grid-uniform">
        {% for block in section.blocks %} 
            {% if collections[block.settings.collection].title != '' %}
                <div class="grid__item  medium--one-half text-center">
                {{ block.settings.collection.title }}
                    {% if block.settings.home_collection_image %}
                        <a href="{{ collections[block.settings.collection].url }}"  class="grid_image"><div><img src="{{ block.settings.home_collection_image | remove: "files/" | file_url}}" width="258px"/></div></a>
                    {% else %}
                        {% if collections[block.settings.collection].image %} 
                            <a href="{{ collections[block.settings.collection].url }}"  class="grid_image"><div><img src="{{ collections[block.settings.collection].image | img_url: 'medium' }}" width="258px"/></div></a>
                        {% endif %}
                    {% endif %}
                    <div>{{ collections[block.settings.collection].title }}</div>
                </div>
            {% endif %}
        {% endfor %}
    </div> 
</div>
{% schema %}
{
  "name": "Home page Collections",

  "settings": [
    {
      "id": "text-box",
      "type": "text",
      "label": "Heading",
      "default": "Title"
    }
  ],
  "blocks": [
    {
      "type": "select",
      "name": "Collection",
      "settings": [
        {
        "type": "collection",
        "id": "collection",
        "label": "Choose Collection"
        },
        {
        "type": "image_picker",
        "id": "home_collection_image",
        "label": "Custom Image"
       }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
div#custom-home .grid__item {
    border-radius: 8px;
    margin: 1% 0.5%;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.150532);
}
div#custom-home .grid__item.medium--one-half img{
        height: 200px;
        width: 100%;
        object-fit: scale-down;
    }
@media only screen and (min-width: 769px){
    div#custom-home .grid__item.medium--one-half:nth-child(-n+3) { height: 235px; width: 32%; }
    div#custom-home .grid__item.medium--one-half:nth-child(n+4) {  width: 24%; }
}
@media only screen and (max-width: 768px) and (min-width: 481px){
    div#custom-home .medium--one-half {
    width: 49%;
    }
}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}

