<div id="home-seo">
    <div class="home-seo-header">{{ section.settings.seo-header }}</div>
    <div class="home-seo-content">{{ section.settings.seo-content }}</div>
</div>
{% schema %}

{
    "name": "Home Page SEO",
    "settings": [
        {
        "type": "text",
        "id": "seo-header",
        "label": "SEO header"
        },
        {
        "type": "textarea",
        "id": "seo-content",
        "label": "SEO Content"
        }
    ]
}

{% endschema %}

{% stylesheet %}
#home-seo{
    text-align: center;
    margin: 3vw;
    color:#4A4A4A;
}
.home-seo-conten{ 
    font-family:"Open Sans";
    font-size:16px;
    }
.home-seo-header{
    font-size:21px;
    font-family:"Open Sans"; 
    font-weight:600;
     padding-bottom: 15px;
    }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

