{% include 'breadcrumb' %}

<div class="page-title collections-title">All Categories</div><hr>
  <div class="grid--rev">
  <div class="grid__item large--three-quarters">
    <div id="custom-categories">
      <div class="grid-uniform flex">
{% comment %}
  Loop through each collection, except 'frontpage'
{% endcomment %}

        {% for block in section.blocks %} 
            {% if collections[block.settings.collection].title != '' %}
                    <div class="grid__item   text-center">
                    <a href="{{ collections[block.settings.collection].url }}"  class="grid_image"><div class="grid_image">
                    {% if block.settings.home_collection_image %}
                        <img src="{{ block.settings.home_collection_image | remove: "files/" | file_url}}" width="258px"/>
                    {% else %}
                        <img src="{{ collections[block.settings.collection].image | img_url: 'medium' }}" width="258px"/>
                    {% endif %}
                    </div></a>
                    <div>{{ collections[block.settings.collection].title }}</div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
  </div>
  <div class="grid__item large--one-quarter collection-sidebar">
    {% include 'collection-sidebar' %}
  </div>
</div>

  {% schema %}
{
  "name": "Collections Page",
  "blocks": [
    {
      "type": "select",
      "name": "Collection",
      "settings": [
        {
        "type": "collection",
        "id": "collection",
        "label": "Choose Collection"
        },
        {
        "type": "image_picker",
        "id": "home_collection_image",
        "label": "Custom Image"
       }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

