 {% assign numberOfSubs = 0 %}
 {% for block in section.blocks %} 
    {% if collections[block.settings.parent-collection].url == collection.url %}
        {% if collections[block.settings.collection].title != '' %}
            {% assign numberOfSubs = numberOfSubs | plus: 1 %}
           
            
        {% endif %}
    {% endif %}
{% endfor %}
{% if numberOfSubs != 0 %}
    {% assign width = 100 | divided_by:  numberOfSubs | minus: 1   %}
{% else %}
     {% assign width = 0  %}
{% endif %}
{% assign remainder =  numberOfSubs | modulo: 2 %}
{% if numberOfSubs > 6  %} 
    {% if remainder == 0  %} 
        {% assign width = 100 | divided_by:  numberOfSubs | times : 2  | minus: 1   %}
    {% else %}
        {% assign numberOfSubs = numberOfSubs | plus: 1 %}
         {% assign width = 100 | divided_by:  numberOfSubs | times : 2  | minus: 1   %}
    {% endif %}
{% endif %} 

{% assign row-size = 'large--one-third' %}
<div id="custom-sub-categories">
    <h2> {{ section.settings.text-box }} </h3>
    <div class="grid-uniform flex">
        {% for block in section.blocks %} 
            {% if collections[block.settings.parent-collection].url == collection.url %}
                {% if collections[block.settings.collection].title != '' %}
                    <div class="grid__item   text-center {% if numberOfSubs < 5  %} lessFour {% endif %} " >
                    {{ block.settings.collection.title }}
                        {% if block.settings.home_collection_image %}
                            <a href="{{ collections[block.settings.collection].url }}"  ><div class="grid_image"><img src="{{ block.settings.home_collection_image | remove: "files/" | file_url}}" width="258px"/></div>
                        {% else %}
                            {% if collections[block.settings.collection].image %} 
                                <a href="{{ collections[block.settings.collection].url }}" ><div  class="grid_image"><img src="{{ collections[block.settings.collection].image | img_url: 'medium' }}" width="258px"/></div>
                            {% endif %}
                        {% endif %}
                        <div class="sub-title">{{ collections[block.settings.collection].title }}</div></a>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div> 
</div>
<style>
    .sub-title{margin:0 3px;font-size:19px}
    div#custom-sub-categories .grid__item { width:{{ width }}%;} 
    @media only screen and (max-width: 768px){
        div#custom-sub-categories .grid__item:not(.lessFour) {    width: {{ width | times:1.5 }}%;}  
    }
    @media only screen and (max-width: 506px){
        div#custom-sub-categories .grid__item:not(.lessFour),div#custom-sub-categories .grid__item {    width: 49%;    }
    }
    
</style>
{% if numberOfSubs > 2 %}
    <style>
         @media only screen and (max-width: 506px){
            div#custom-sub-categories .grid__item{    min-width: 65%;    }
            #custom-sub-categories .grid-uniform.flex {
            justify-content: unset;
            flex-wrap: nowrap;
            overflow: auto;
            }
        }
    </style>
{% endif %}
{% schema %}
{
  "name": "Subcollections",
  "blocks": [  
    {
      "type": "select",
      "name": "Collection",
      "settings": [
        {
        "type": "collection",
        "id": "parent-collection",
        "label": "Choose Parent Collection",
        "info": "What category page should this show on?"
        },
        {
        "type": "collection",
        "id": "collection",
        "label": "Choose Subcollection"
        },
        {
        "type": "image_picker",
        "id": "home_collection_image",
        "label": "Custom Image"
       }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
#custom-sub-categories .grid-uniform.flex {
    justify-content: center;
}


div#custom-sub-categories .grid__item {
    border-radius: 8px;
    margin: 1% 0.5%;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.150532);
}
div#custom-sub-categories .grid__item img{
        height: 122px;
        width: 100%;
        object-fit: scale-down;
    }
@media only screen and (max-width: 506px){
    div#custom-sub-categories .grid__item {    width: 32%;    }
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

