<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}

{% paginate collection.products by 12 %}

{% include 'breadcrumb' %}

<header class="section-header collection-header">
    <h1 class="section-header__title">{{ collection.title }}</h1>
    <div class="rte rte--header flex ">
      {{ collection.description }}
    </div>
  </header>
  <hr>
{% comment %}
  Use .grid--rev so that the collection tags appear below the products on mobile
{% endcomment %}
<div class="grid--rev">
  <div class="grid__item large--three-quarters">
      <div class="section-header">
        <div class="section-header__left">
          {% include 'collection-sorting' %}
        </div>
        {% if paginate.pages > 1 %}
          <div class="section-header__right">
            <div id="pagination" class="pagination">
              {% for part in paginate.parts %}
                {% if part.is_link %}
                  <span class="pagination-item"><a href="{{part.url}}">{{ part.title }}</a></span>
                {% elsif current_page %}
                  <span class="pagination-item pagination--current"><a>{{ current_page }}</a></span>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
    {% endcomment %}
    <div class="grid-uniform flex">

      {% comment %}
        Loop through our products in the current collection.
        See the snippet 'product-grid-item' for the layout.
      {% endcomment %}
      {% for product in collection.products %}

        {% include 'product-grid-item' %}

      {% else %}

        {% if collection.handle == 'all' and current_tags == '' %}

          {% comment %}
            Add default products to help with onboarding for collections/all only
          {% endcomment %}
          {% unless emptyState %}
            {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
            {% assign emptyState = true %}
          {% endunless %}
          {% include 'onboarding-empty-collection' %}

        {% else %}

          {% comment %}
            If collection exists but is empty, display message
          {% endcomment %}
          <div class="grid__item">
            <p>{{ 'collections.general.no_matches' | t }}</p>
          </div>

        {% endif %}

      {% endfor %}

    </div>

  </div>

  <div class="grid__item large--one-quarter collection-sidebar">
    {% include 'collection-sidebar' %}
  </div>
</div>

{% endpaginate %}
