<!-- /templates/list-collections.liquid -->
{% comment %}

  This page represents the /collections and /products pages.
  It is an optional, but highly recommended, template for your theme.

  More info:
    - http://docs.shopify.com/manual/configuration/store-customization/taking-control-of-collections-listing

  This Page was moved over to list-collections-section to allow manual input of which collections to display
{% endcomment %}

{% section 'list-collections-section' %}
