<!-- /templates/product.liquid -->
{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}

{% comment %}
   Check if the product has any flag tags.
{% endcomment %}
{% assign tagflagstring = '' %}
{% assign is_custom = false %}
{% for tag in product.tags %}
  {% assign lowerTag = tag | downcase %}
  {% if  lowerTag contains 'flag::' %}
      {% assign tagflagstring = tagflagstring | append : tag | append : "," %}
      {% assign is_custom = true %}
  {% endif %}
{% endfor %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}


{% comment %}
  Check if the product was published within 2 weeks and set a variable to be used below..
{% endcomment %}
{% assign new = false %}
{% assign published_date =  product.published_at| date: "%s" | plus: 0  %}
{% assign today_date =  "now" | date: "%s" | plus: 0  %}
{% assign product_age = today_date | minus: published_date %}
{% if  product_age < 1209600 %}
  {% assign new = true %}
{% endif  %}

{% assign flagstring = settings.first | append: ',' | append: settings.second | append: "," | append: settings.third %}
{% assign flags = flagstring | split: "," %}
{% assign flag_class = '' %} 
{% for flag in flags %}
  {% if flag == 'new' and new == true %}
    {% assign flag_class = flag %} 
    {% break %}
  {% elsif flag == 'sale' and on_sale == true %}
    {% assign flag_class = flag %} 
     {% break %}
  {% elsif flag == 'custom' and is_custom == true %}
    {% assign flag_class = flag %} 
     {% break %}
  {% endif %}
{% endfor %}

{% comment %}
  Add custom flag content and style
{% endcomment %}
{% if is_custom == true %}
  {% assign tag_flags = tagflagstring | split: "," %}
  {% assign custom_order = 1000 %}
   {% assign custom_color = '' %} 
   {% assign custom_val = '' %}

  {% for flag in tag_flags %}
    {% assign flag_data = flag | split: "::" %}
    {% assign current_order = flag_data[3] | plus: 0 %}
    {% assign flag_data_size = flag_data | size %}
    {% if flag_data_size == 3 or flag_data_size == 4 %}
      {% if  current_order < custom_order %}
        {% assign custom_order = current_order %}
        {% assign custom_color = flag_data[1] %}
        {% assign custom_val = flag_data[2] %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% assign val_size = custom_val | size %}
  {% assign col_size = custom_color | size %}
  {% if val_size > 0 and col_size > 0  %}
  <style>
    .product-single.custom .flag:before{
      content: "{{ custom_val  | replace: '"', '\"' }}";
      background-color: {{ custom_color }}; 
    }
  </style>
  {% endif %}
{% endif %}


<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}

  {% include 'breadcrumb' %}

  <div class="grid product-single {{ flag_class }}">
    <div class="grid__item large--one-half text-center images">
      <div class="product-single__photos" id="ProductPhoto">
        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
        <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
      </div>

      {% comment %}
        Create thumbnails if we have more than one product image
      {% endcomment %}
      {% if product.images.size > 1 %}
        <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">

          {% for image in product.images %}
            <li class="grid__item one-quarter">
              <a href="{{ image.src | img_url: 'large' }}" class="product-single__thumbnail">
                <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
              </a>
            </li>
          {% endfor %}

        </ul>
      {% endif %}
    </div>

    <div class="grid__item large--one-half product-basic">

      <h1 itemprop="name">{{ product.title | replace:'<br>', ' ' }}</h1>

      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">

        <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
        <div class="price-row">
          <span class="flag" style=""></span>
          <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
          <span id="ProductPrice" class="h2" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
            {{ current_variant.price | money }}
          </span>

          {% if product.compare_at_price_max > product.price %}
            <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
            <p id="ComparePrice">
              {{ 'products.product.compare_at' | t }} {{ current_variant.compare_at_price | money }}
            </p>
          {% endif %}
         {% include 'pack-case' %}
        </div>
        {% comment %}
          ID addToCartForm is a selector for the ajax cart plugin
        {% endcomment %}
        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">

          {% comment %}
            Add product variants as a dropdown.
              - By default, each variant (or combination of variants) will display as its own <option>
              - To separate these into multiple steps, which we suggest, use option_selection.js (see below)

            You can leverage jQuery to add a callback on page load and each time the select element changes:
              - Include option_selection.js (as seen at the bottom of this file)
              - This allows you to use JavaScript anytime the variant dropdown changes
              - This also separates out your variant options (ie. size, color, etc.) to separate select elements

            For more information on products with multiple options, visit:
              - http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options#update-product-liquid
          {% endcomment %}
          <div class="flex">
            <select name="id" id="productSelect" class="product-single__variants">
            {% for variant in product.variants %}
              {% if variant.available %}

                {% comment %}
                  Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                {% endcomment %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

              {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
            <div>
              <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
              <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
            </div>
          </div>
          <button type="submit" name="add" id="AddToCart" class="btn more-info">
            <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
            <span class="add-to-cart">{{ 'item-cart.svg' | asset_url | img_tag }}</span>
              </span>
          </button>
        </form>
      </div>

    </div>
  </div>
  <div class="product-description rte" itemprop="description">
        {{ product.description }}
      </div>
</div>

{% comment %}
  To take advantage of a callback on the select dropdown, add option_selection.js
  and customize the JS in timber.productPage as needed.

  Currently, timber.productPage does the following:
    - Hides your <select> tag from above
    - Breaks out the product variants into separate product options, if more than one exists
    - Generates a <select> tag for each product option
    - Enables/disables elements based on variant availability

  Callback notes:
    - Keep the callback available to the global scope (window.selectCallback) so that advanced
      addons can override it.
      * E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
{% endcomment %}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
{% section 'related-products' %}
<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
  
  jQuery('.product-basic').append(jQuery('.product-description-text'));
  jQuery('.grid__item').click(function(){jQuery(this).addClass('active').siblings().removeClass('active')});
</script>

{% if product.tags contains 'UL' %}
  <script>    jQuery('.product-description-text').after('<span>{{ 'ul.png' | asset_url | img_tag }}</span>');</script>
{% endif %}

{% if product.tags contains 'DLC' %}
   <script>    jQuery('.product-description-text').after('<span class="dlc">{{ 'dlc.png' | asset_url | img_tag }}</span>');</script>
{% endif %}
{% include 'product-image-popup' %}
